{% load staticfiles %}
<html>
    <head>
        <title>Sl_ai's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
            <h1><a href="/">Sl_ai's Blog</a></h1>
        </div>

        <div class="content container">
         <div class="row">
             <div class="col-md-8">
             {% block content %}
             {% endblock %}
             </div>
         </div>
     </div>

        <div>
            <p><i>опубликовано: 23.06.2018, 15:14</i></p>
            <h2><a href="">Рюноске Акугатава</a></h2>
            <p>Творчество всегда риск. Старания лишь полдела, одними стараниями не достигнешь совершенства. Искусство — мрачная бездна. Если бы не жажда денег, если бы не влечение славы, если бы, наконец, не страдания от творческого жара, то, возможно, у нас не хватило бы мужества вступатьт в схватку с этим зловещим искусством. </p>
        </div>

        <div>
            <p><i>опубликовано: 23.06.2018, 15:14</i></p>
            <h2><a href="">Mr. Cumberbatch</a></h2>
            <p>Чем больше отдаляешься от собственного «я», тем интереснее становится жить. Поиски гармонии меня не интересуют. Постоянно выходить из своей зоны комфорта — вот в чем я вижу смысл.</p>
        </div>


    </body>
</html>
